{% extends "header.html" %}
{% block content %}

	
	<div class ='leftpane'>
		<span class="header__title">{{category.name}}</span>
		<p>{{category.description}}</p>	
	</div>
	<div class = 'rightpane'>
		<ul>
			{% for item in items %}
				<a href = "{{url_for('showSpecificItem', category_name = item.category.name, item_name = item.name)}}">
					<li class="items__item">
						<a href = "{{url_for('showSpecificItem', category_name = category.name, item_name = item.name)}}">
							<span class="item__name">{{item.name}}</span>
						</a>
						{% if 'username' in session %}
							<a href = "{{url_for('editCategoryItem', category_name = category.name, item_name = item.name)}}">
								<span class="item__modify">Edit</span>
							</a>
						{% endif %}
					</li>
				</a>
			{% endfor %}

			<li class="whitespace"></li>

			<li>
				{% if 'username' in session %}
					<a href="{{url_for('addCategoryItem')}}" class="sub__button">Add Item</a>
				{% endif %}
			</li>
		</ul>
	</div>

	

{% endblock %}