<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>FSND Item Catalog</title>

		<link href='http://fonts.googleapis.com/css?family=Roboto:400,300,700' rel='stylesheet' type='text/css'>
		<link rel=stylesheet type=text/css href="{{ url_for('static', filename='styles.css') }}">
	</head>
	<body>
		<div class="banner">
			<img class="logo" src="{{ url_for('static', filename='banner-image.png') }}"/>           
			<div class="menu">
				{%if 'username' not in session %}
					<a href="{{url_for('login')}}" class="mainbutton" >
						Login
					</a>
				{% else %}
					<a href="{{url_for('logout')}}" class="mainbutton" >
						Logout
					</a>
				{% endif %}
			</div>
		</div>
		<div class="container center">
			{% block content %}
			{% endblock %}
		</div>
	</body>
</html>