{% extends "header.html" %}
{% block content %}

	<div class="content">
		<div class = 'leftpane'>
			<span class="header__title">Categories</span>

			<ul>
				{% for category in categories %}
					<a href = "{{url_for('showCategoryAndItems', category_id = category.id, category_name = category.name)}}">
						<li class="items__item">
							<span class="item__name">{{category.name}}</span>
						</li>
					</a>						
				{% endfor %}
				<li class="whitespace"></li>

				<li>
					{% if 'username' in session %}
						<a href="{{url_for('addCategory')}}" class="sub__button">Add Category</a>
					{% endif %}
				</li>
			</ul>
		</div>
		<div class = 'rightpane'>
			<span class="header__title">Latest Items</span>
			<ul>
				{% for item in latest %}
					<a href = "{{url_for('showSpecificItem', category_name = item.category.name, item_name = item.name)}}">
						<li class="items__item">
							<span class="item__name">{{item.name}}</span>
							<span class="item__type">{{item.category.name}}</span>
						</li>
					</a>
				{% endfor %}
				<li class="whitespace"></li>
				<li>
					{% if 'username' in session %}
						<a href="{{url_for('addCategoryItem')}}" class="sub__button">Add Item</a>
					{% endif %}

				</li>
			</ul>

		</div>
	</div>
{% endblock %}